<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-toggler-icon leftmenutrigger"></span>
      <a class="navbar-brand" href="home">Sistema IPIF</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav animate side-nav">
          <li class="nav-item">
            <a class="nav-link" href="ballots" title="Ballots"><i class="far fa-copy"></i> ballots<i class="far fa-copy shortmenu animate"></i>ballots</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="parameters" title="Parameters"><i class="fas fa-cog"></i> parameters <i class="fas fa-cog shortmenu animate"></i></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-md-auto d-md-flex">
          <li class="nav-item">
            <a class="nav-link" href="login"><i class="fas fa-key"></i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bienvenido al sistema de control de Boletas</h5>
              <h6 class="card-subtitle mb-2 text-muted">Sistema de partes médicas</h6>
              <p class="card-text">En esta compañía trabajamos por el bienestar de nuestros usuarios nacionales e internacionales. Todos juntos somos familia</p>
              <a href="https://www.google.com" class="card-link">quienes somos</a>
              <a href="http://www.google.com" class="card-link">otra información importante</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Internamente</h5>
              <h6 class="card-subtitle mb-2 text-muted">Puestos internos</h6>
              <p class="card-text">Concursos internos a los que pueden participar, enviando su información al gestionhumana@ehospital.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Actualmente somos segundos</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">País</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mercantil.com</td>
                    <td>Brasil</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>eHospital</td>
                    <td>Costa Rica</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Big Company</td>
                    <td>Nueva Zelanda</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>