<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-toggler-icon leftmenutrigger"></span>
      <a class="navbar-brand" href="home">Sistema IPIF</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav animate side-nav">
          <li class="nav-item">
            <a class="nav-link" href="ballots" title="Ballots"><i class="far fa-copy"></i> ballots<i class="far fa-copy shortmenu animate"></i>ballots</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="parameters" title="Parameters"><i class="fas fa-cog"></i> parameters <i class="fas fa-cog shortmenu animate"></i></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-md-auto d-md-flex">
          <li class="nav-item">
            <a class="nav-link" href="login"><i class="fas fa-key"></i> Logout</a>
          </li>
        </ul>
      </div>
      <!--img [src]="customer.img" class="card-img-top" alt="..." /-->
      <div class="card-body">
        <h5 class="card-title">{{ ballots.id }}</h5>
        <p><strong>Máquina:</strong> {{ ballots.idmachine }}</p>
        <p><strong>Parte:</strong> {{ ballots.idpart }}</p>
        <p><strong>Revisión:</strong> {{ ballots.rev }}</p>
        <p class="card-text">
          {{ ballots.description }}
        </p>
        <button (click)="openBallotModal()" class="btn btn-primary mr-3">
          Edit
        </button>
        <button (click)="goToDetails()" class="btn btn-secondary mr-3">
          Details
        </button>
        <button (click)="delete()" class="btn btn-danger">Delete</button>
      </div>
    </nav>
  </div>