<div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h3>Sign Up</h3>
        <form [formGroup]="form" (ngSubmit)="signUp()">
            <div class="form-group row">
                <label class="label col-2" for="name">Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control large col-12"
                  formControlName="name"
                  [class.is-invalid]="!isControlValid('name')"
                />
              </div>
            <div class="form-group row">
                <label class="label col-2" for="sname">Surnames</label>
                <input
                  type="text"
                  name="sname"
                  class="form-control large col-12"
                  formControlName="sname"
                  [class.is-invalid]="!isControlValid('sname')"
                />
              </div>
          <div class="form-group row">
            <label class="label col-2" for="uname">Username</label>
            <input
              type="text"
              name="uname"
              class="form-control large col-12"
              formControlName="uname"
              [class.is-invalid]="!isControlValid('uname')"
            />
          </div>
  
          <div class="form-group row">
            <label class="label col-2" for="lname">Last Name</label>
            <input
              type="text"
              name="lname"
              class="form-control large col-12"
              formControlName="lname"
              [class.is-invalid]="!isControlValid('lname')"
            />
          </div>
  
          <div class="form-group row">
            <label class="label col-2" for="email">Email</label>
            <input
              type="email"
              name="email"
              class="form-control large col-12"
              formControlName="email"
              placeholder="example@molekule.com"
              [class.is-invalid]="!isControlValid('email')"
            />
          </div>
  
          <div class="form-group row">
            <label class="label col-2" for="lname">Phone Number</label>
            <input
              type="number"
              name="phone"
              class="form-control large col-12"
              formControlName="phone"
              [class.is-invalid]="!isControlValid('phone')"
            />
          </div>
  
          <div class="form-group row">
            <label for="country" class="label col-2">Country</label>
            <select
              name="country"
              id="country"
              class="form-control col-4"
              formControlName="country"
              [class.is-invalid]="!isControlValid('country')"
            >
              <option [ngValue]="country" *ngFor="let country of countries">{{
                country
              }}</option>
            </select>
          </div>
  
          <button class="btn btn-primary mt-3" type="submit">
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
  